.body {
    size:inherit;
    display: flex;
    flex-direction: column;
    background-color:lightblue;
}

.image {
    margin:100px auto 50px auto;
    border-radius: 50%;
    border: #19414D;
    border-width: 5px;
    border-style: solid;
}

.card {
    color: #19414D;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica';

    background-color: white;

    padding: 24px;

    border: #19414D;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
}

.name {
    color:inherit;
    font-size: 4rem;
    

}

.email {
    color:inherit;
    padding-top: 8px;
    font-size: 2.5rem;
}

.urls {
    padding-top: 16px;
    font-size: 2rem;
}

.link:link {
    color:inherit;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
}

.link:hover {
    text-decoration: underline;
}

.link:visited {
    color:inherit;
}

.unselectable {
    /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
    /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}

.shadow {
    box-shadow: #44a5c5 -12px 8px 0px
}